.register-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
    align-content: center;

    .uk-card {
        border-radius: 5px;
    }
}


@media (max-width: 700px) {
    .register-container {
        grid-template-columns: .9fr;
    }
}