<div class="register-container">
  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">

      <h3>
        Registro
      </h3>
      <form (ngSubmit)="registrar()" #forma="ngForm" autocomplete="off" class="uk-form-stacked">
        <div class="uk-margin">
          <label class="uk-form-label" for="name">Nombre</label>
          <div class="uk-form-controls">
            <input [(ngModel)]="newUser.name" class="uk-input" id="name" name="name" type="text">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="lastname">Apellidos</label>
          <div class="uk-form-controls">
            <input [(ngModel)]="newUser.lastname" class="uk-input" id="lastname" name="lastname" type="text">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="email">Email</label>
          <div class="uk-form-controls">
            <input [(ngModel)]="newUser.email" class="uk-input" id="email" name="email" type="email" placeholder="tu@correo.com">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="email">Password</label>
          <input-password [(ngModel)]="newUser.password" name="password" >
          </input-password>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="role">Soy</label>
          <div class="uk-form-controls">
            <select class="uk-select" [(ngModel)]="newUser.role" name="role" id="role">
              <option>estudiante</option>
              <option>reclutador</option>
            </select>
          </div>
        </div>

        <button type="submit" class="uk-button uk-button-primary" style="width: 100%; font-weight: bold;">Registrame</button>

      </form>
    </div>
  </div>
</div>