<div class="uk-card uk-card-default" style="box-shadow: none;">
  <div class="uk-card-media-top media-profile">

    <div class="media-profile-card">

      <div class="media-photo">
        <img src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&auto=format&fit=crop&w=750&q=80" alt="">
      </div>

      <h4>
        Henrry Haziel Jimenez Ramirez
      </h4>
      <p>
        Estudia en Ingeniería en Sistemas Computacionales en 
        Instituto Tecnologico de Cancún
      </p>

    </div>


  </div>
  <div class="uk-card-body media-content">
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">Habilidades</a>
        <div class="uk-accordion-content">

          <ul class="uk-list">
            <li>
              <button class="uk-button uk-button-primary" style="border-radius: 50px;">Primary</button>
            </li>
          </ul>

        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Experiencia</a>
        <div class="uk-accordion-content">
          <dl class="uk-description-list uk-description-list-divider">
            <dt>Description term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>