.media-profile {
    background: rgb(121, 183, 238);
    background: linear-gradient(142deg, rgba(121, 183, 238, 1) 7%, rgba(81, 221, 211, 1) 100%);
    height: 300px;
    display: grid;
    align-items: center;
    align-content: center;
}

.media-content {
    box-shadow: none;
    height: 100%;
}

.media-photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

}


.media-profile-card {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    * {
        color: #FFF;
    }
}