<div class="uk-inline" style="width: 100%;">
  <span (click)="viewPassword($event)" *ngIf="!clicked" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
  <span (click)="viewPassword($event)" *ngIf="clicked" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: unlock"></span>
  <input class="uk-input" type="{{type}}" placeholder="Contraseña">
</div>