<nav class="uk-navbar-container my-navbar-landing" [ngClass]="{'white': scroll > 350}" uk-navbar="boundary-align: true; align: center;">
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Conekhub</a>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Beneficios</a>
      </li>
      <li>
        <a href="#">Equipo</a>
      </li>
      <li>
        <a href="#">Unete</a>
      </li>
    </ul>
  </div>
</nav>


<div class="banner-landing">
  <div class="banner-landing__content">
    <h1 class="text-white">
      Conekhub
    </h1>
    <p>
      Somos una red social profesional enfocada a los estudiantes que buscan oportunidades para iniciar su vida laboral
    </p>
    <br>
    <br>
    <a routerLink="/login" class="uk-button uk-button-default my-cta-white">
      Únete
    </a>
  </div>
</div>


<div class="container-landing">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
      <div class="uk-card uk-card-default uk-card-body">
        <div class="brand">
          <div>
            <div class="uk-card uk-card-body">
              <img class="brand-phone" src="./assets/images/phone2.png" alt="">
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body">
              <img class="brand-web" src="./assets/images/web1.png" alt="">
            </div>
            <div>
              <div class="uk-card uk-card-body">
                <img class="brand-tab" src="./assets/images/tab1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="to-center">
          <h3>Somos una red social profesional para estudiantes</h3>
          <p>
            Podrás seguir a tus amigos, a estudiantes de otras universidades y a empresas en tu rama profresional, tener un perfil con
            el contenido que los reclutadores necesitan saber y conocer para darte oportunidades y así poder comenzar tu
            carrera laboral.
          </p>
        </div>
      </div>
    </div>