.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
    height: auto;
    line-height: 4;
}

.my-navbar-landing {
    background: rgba(255, 255, 255, 0);
    z-index: 200;
    position: fixed;
    width: 100%;
    color: #FFF;
    a {
        color: inherit;
    }
    &.white {
        color: rgba(55, 55, 55, .5);
        background-color: #FFF;
        border-bottom: 1px solid rgba(55, 55, 55, .1);
    }
}

.my-banner-landing {
    height: 80vh;
}

.banner-landing {
    background: rgb(121, 183, 238);
    background: linear-gradient(142deg, rgba(121, 183, 238, 1) 7%, rgba(81, 221, 211, 1) 100%);
    width: 100%;
    height: 680px;
    clip-path: ellipse(95% 95% at 50% 0%);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    &__content {
        color: azure;
        z-index: -1;
        text-align: center;
        p {
            width: 65%;
            line-height: 1.6;
            margin: 0 auto;
        }
    }
}

.container-landing {
    width: 90%;
    margin: 10vh auto;
    height: 100vh;
}

.to-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}




.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    &-web {
        width: 300px; 
    }

    &-phone {
        width: 70px;
    }

    &-tab {
        width: 90px;
        
    }
}