<div class="conekhub-app">

  <div class="conekhub-app__menu-sidebar">

    <div class="uk-card uk-card-default uk-card-body my-menu-bar">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-nav-header">conekhub</li>
        <br>
        <br>
        <li>
          <a href="#">
            <span class="uk-margin-small-right" uk-icon="icon: user"></span> Mi perfil</a>
        </li>
        <br>
        <li>
          <a href="#">
            <span class="uk-margin-small-right" uk-icon="icon: social"></span> Conexiones</a>
        </li>
        <br>
        <li>
          <a href="#">
            <span class="uk-margin-small-right" uk-icon="icon: folder"></span> Ofertas laborales</a>
        </li>
        <br>
        <br>
        <br>
        <li class="uk-nav-divider"></li>
        <li>
          <a href="#">
            <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Cerrar sesión</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="conekhub-app__content">

    <div class="uk-card uk-card-default">
      <div class="uk-card-header">
        <div uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Nueva publicación</h3>
          </div>
        </div>
      </div>
      <div class="uk-card-body" style="padding: 0;">
        <div class="uk-margin">
          <textarea class="uk-textarea my-textarea-post" rows="5" placeholder="Comparte algo a tus conexiones"></textarea>
        </div>
      </div>
      <div class="uk-card-footer">
        <button class="uk-button uk-button-primary">Publicar</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>


    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>

    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>

    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>


    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>


    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>

    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </div>


  </div>

  <div class="conekhub-app__sidebar">

  </div>


</div>