<div class="conekhub-login">
  <div class="conekhub-login-item">
    <div class="uk-card uk-card-default uk-card-body conekhub-login-card" style="border-radius: 5px;">
      <h3 class="uk-card-title">Ingresa</h3>
      <form>
        <div class="uk-margin">
          <div class="uk-inline" style="width: 100%;">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input class="uk-input" type="text" placeholder="correo@correo.com">
          </div>
        </div>

        <input-password>
        </input-password>

        <br>
        <br>
        <button type="submit" class="uk-button uk-button-primary" style="width: 100%; font-weight: bold;" >Ingresar</button>

      </form>

      <hr class="uk-divider-icon">


      <!-- <button class="uk-button uk-button-default uk-margin-small-bottom" style="width: 100%; color: #6053F8;">
        <span uk-icon="icon: google"></span>
      </button> -->

      <br>
      <br>

      <a class="uk-link-muted" routerLink="/register"> Unete a la comunidad </a>


    </div>
  </div>
  <div class="conekhub-login-item w-cover">
    <div class="conekhub-login-welcome">
      <h1>Bienvenido a Conekhub</h1>
      <p>
        <i>La red social profesional que conecta a los estudiantes con las oportunidades</i>
      </p>
    </div>
    <img src="https://images.unsplash.com/photo-1477453559950-e541fa922120?ixlib=rb-0.3.5&s=e3092aaa101c29dc41a23968000952f5&auto=format&fit=crop&w=662&q=80"
      alt="">
  </div>
</div>