.conekhub {
    &-login {
        display: grid;
        grid-template-columns: .8fr 1fr;
        grid-auto-rows: 100vh;
        &-card {
            text-align: center;
        }
        &-welcome {
            h1 {
                color: #FFF;
            }
            color: #FFF;
            width: 80%;
            margin: 0 auto;
        }
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &.w-cover {
                background: rgb(121, 183, 238);
                background: linear-gradient(142deg, rgba(121, 183, 238, 1) 7%, rgba(81, 221, 211, 1) 100%);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.1;
                position: absolute;
            }
        }
    }
}

@media (max-width:600px) {
    .conekhub-login {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-auto-flow: dense;
    }

    .conekhub-login-item.w-cover {
        grid-row: 1;
    }
}