h1.p404 {
    text-align: center;
    padding: 2em 0 0;
    z-index: 200;
}

a.a404 {
    text-align: center;
}

svg.svg404 {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%
}