/* You can add global styles to this file, and also import other style files */

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.my-cta-white {
    color: #FFF;
    border-radius: 5px;
    &:hover {
        color: #FFF;
        border-color: #FFF;
    }
}

.text-white {
    color: #FFF;
}

.my-textarea-post {
    width: 100%;
    border-color: transparent;
    resize: none;
    &:focus {
        border-color: transparent;
    }
}

.conekhub-app {
    background-color: #EDF2F6;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: .3fr 1fr .4fr;
    &__menu-sidebar {
        background-color: #38384F;
    }
    &__sidebar {
        background-color: #F5F8FC;
        border-left: 1px solid rgba(#ABB7CC, .3);
    }
    &__content {
        width: 80%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        .uk-card {
            border-radius: 5px;
            box-shadow: none;
        }
    }
}

.my-menu-bar {
    background-color: rgba(#FFF, 0);
    * {
        color: #FFF !important;
    }
}